 /* =========== Common styles =========== */
 ul, ol {
    list-style-type: none;
 }

 a {
    text-decoration: none;
 }

 button {
    cursor: pointer;
 }

 img {
    display: block;
 }

 body {
   font-family: "Roboto", sans-serif;
   background: #fff;
   color: #2e2f42;
 }
 /* =========== /Common styles =========== */

 /* =========== Page Header styles =========== */
 .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
 }

 .text-black {
    color: #2e2f42;
 }

.menu-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.contacts {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}
/* =========== /Page Header styles =========== */

/* =========== Hero Sections styles =========== */
.hero {
   background: #2e2f42;
   width: 1440px;
   height: 600px;
}

.hero-text {
   font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}

.hero-botton {
   border-radius: 4px;
   padding: 16px 32px;
   width: 169px;
   height: 56px;
}
/* =========== /Hero Sections styles =========== */

/* =========== Advantages Sections styles =========== */
.advantages {

}

.advantages-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.advantages-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}
/* =========== /Advantages Sections styles =========== */

/* =========== Team Sections styles =========== */
.team {
   background: #f4f4fd;
}

.team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11111;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   text-align: center;
}

.team-card {
   border-radius: 0 0 4px 4px;
   padding: 0px 0px 32px 0px;
   width: 264px;
   height: 380px;
}

.team-employee {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-align: center;
}

.team-position {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   color: #434455;
}
/* =========== /Team Sections styles =========== */

/* =========== Portfolio Sections styles =========== */
.portfolio {
   
}

.portfolio-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11111;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   text-align: center;
}

.portfolio-list {

}

.portfolio-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.portfolio-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}
/* =========== /Portfolio Sections styles =========== */

/* =========== Footer styles =========== */
.end {
   background: #2e2f42;
}

.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}

.text-black {
   color: #f4f4fd;
}

.advice {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#f4f4fd;
}
/* =========== /Footer styles =========== */